{% if elementType == 'User' %}

	    <table class="data collapsible">
	        <thead>
	            <tr>
	                <th scope="col">{{ "Provider"|t }}</th>
	                <th scope="col">{{ "Account"|t }}</th>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>

			    {% for provider in craft.oauth.getProviders() %}

			        <tr>
			        	<td>{{provider.class}}</td>
			        	<td>-</td>
			        	<td>
							{% set tokens = craft.oauth.getTokensByProvider(provider.class, element.id) %}

							{% if tokens|length > 0 %}
								<div class="right"><a href="{{craft.oauth.disconnect(provider.class)}}" class="btn small">Disconnect</a></div>
							{% else %}
								<div class="right"><a href="{{ craft.oauth.connect(provider.class) }}" class="btn small">Connect</a></div>
						    {% endif %}
			        	</td>
			        </tr>



			    {% endfor %}


	        </tbody>
	    </table>

{% else %}
    This field can only be assigned to a User
{% endif %}