{% extends "oauth/_layout" %}
{% set selectedTab = 'systemTokens' %}

{% set content %}

    <table class="data collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "ID"|t }}</th>
                <th scope="col">{{ "Provider"|t }}</th>
                <th scope="col">{{ "Namespace"|t }}</th>
                <th scope="col">{{ "Scope"|t }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set tokens = craft.oauth.getTokens() %}
            {% for token in tokens %}
                {% if token.user.email is not defined %}
                    <tr>
                        <td>{{token.id}}</td>
                        <td class="nowrap">{{token.provider}}</td>
                        <td>{{token.namespace}}</td>
                        <td>
                            {% if token.scope is iterable %}
                                <ul>
                                    {% for scopeRow in token.scope %}
                                        <li><em>{{scopeRow}}</em></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td class="thin"><a class="btn small" href="{{actionUrl('oauth/settings/deleteToken', {id:token.id})}}">Delete</a></td>
                    </tr>
                {% endif %}

            {% endfor %}
        </tbody>
    </table>

{% endset %}
