{% extends "oauth/_layout" %}
{% set selectedTab = 'userTokens' %}

{% set content %}

    <table class="data">
        <thead>
            <tr>
                <th scope="col">{{ "Provider"|t }}</th>
                <th scope="col">{{ "User ID"|t }}</th>
                <th scope="col">{{ "User Email"|t }}</th>
                <th scope="col">{{ "Scope"|t }}</th>
                <th scope="col">{{ "Created"|t }}</th>
                <th scope="col">{{ "Updated"|t }}</th>
                <th scope="col">{{ "Delete"|t }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set tokens = craft.oauth.getTokens() %}
            
            {% for token in tokens %}
                {% if token.user.email is defined %}
                    <tr>
                        <td>{{token.provider}}</td>
                        <td>{{token.user.id}}</td>
                        <td>{{token.user.email}}</td>
                        <td>
                            {% if token.scope is iterable %}
                                {% for scopeRow in token.scope %}
                                    {{scopeRow}} <br />
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{token.dateCreated}}</td>
                        <td>{{token.dateUpdated}}</td>
                        <td><a class="btn small" href="{{actionUrl('oauth/settings/deleteToken', {id:token.id})}}">Delete</a></td>
                    </tr>
                    {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endset %}
