{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = provider.name~" Settings"|t %}

{% set crumbs = [
    { label: "OAuth"|t, url: url('oauth') },
    { label: "Providers"|t, url: url('oauth/providers') }
] %}

{% macro configWarning(setting, file) -%}
    {{ "This is being overridden by the {setting} config setting."|t({
        setting: '<strong>'~setting~'</strong>'
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% set content %}


    <form method="post" action="" accept-charset="UTF-8">

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="oauth/providers/providerSave">
        <input type="hidden" name="redirect" value="oauth" />
        {% if infos %}<input type="hidden" name="providerId" value="{{ infos.id }}" />{% endif %}
        <input type="hidden" name="handle" value="{{ provider.handle }}" />

        <h2 class="first">{{ "Create an OAuth application"|t }}</h2>

        <p>
            {% if provider.getManagerUrl() %}
                {{ "Create an OAuth 2.0 application and enable associated providers in the {console}"|t({
                    console:           '<a href=\"'~provider.getManagerUrl()~'\">'~'{provider} API Manager'|t({provider:provider.name})~'</a>.'
                })|raw }}
            {% else %}
                {{ "Create an OAuth 2.0 application and enable associated providers in the API Manager."|t }}
            {% endif %}
        </p>

        <p>{{ "Once created, configure the application with the following settings. You might not need to use all of them."|t }}</p>

        {{ forms.textField({
            label: 'Web Origin'|t,
            value: siteUrl,
            readonly: true,
        }) }}

        {{ forms.textField({
            label: 'Redirect URI'|t,
            value: provider.redirectUri,
            readonly: true,
        }) }}
        
        <hr>

        <h2>{{ "Client ID & Secret"|t }}</h2>

        <p>{{ "Use the client ID & secret from the OAuth application that you've just created."|t }}</p>

        {{ forms.textField({
            label: 'Client Id'|t,
            required: true,
            name: 'provider[clientId]',
            placeholder: infos ? (infos.clientId is empty and configInfos.clientId is defined ? configInfos.clientId) : (configInfos.clientId is defined ? configInfos.clientId),
            value: infos ? infos.clientId : null,
            errors: infos ? infos.errors('clientId') : null,
            warning: (infos and not infos.clientId is empty and configInfos.clientId is defined ? configWarning('oauth.'~provider.handle~'.clientId')),
        }) }}

        {{ forms.textField({
            label: 'Client Secret'|t,
            required: true,
            name: 'provider[clientSecret]',
            placeholder: infos ? (infos.clientSecret is empty and configInfos.clientSecret is defined ? configInfos.clientSecret) : (configInfos.clientSecret is defined ? configInfos.clientSecret),
            value: infos ? infos.clientSecret : null,
            errors: infos ? infos.errors('clientSecret') : null,
            warning: (infos and not infos.clientSecret is empty and configInfos.clientSecret is defined ? configWarning('oauth.'~provider.handle~'.clientSecret')),
        }) }}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endset %}
