{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if providerClass is not defined %}{% set providerClass = null %}{% endif %}

{% if provider is not defined %}
    {% if providerClass %}
        {% set provider = craft.oauth.getProviderNew(providerClass, false) %}

        {% if not provider %}{% exit 404 %}{% endif %}
    {% else %}
        {% set provider = null %}
    {% endif %}
{% endif %}


{% set title = providerClass~" Settings"|t %}

{% set crumbs = [
    { label: "OAuth"|t, url: url('oauth') }
] %}

{% set content %}

    <h2>Client ID &amp; Secret</h2>

    <form method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="oauth/settings/providerSave">
        <input type="hidden" name="redirect" value="oauth" />
        {% if provider %}<input type="hidden" name="providerId" value="{{ provider.id }}" />{% endif %}
        <input type="hidden" name="providerClass" value="{{ providerClass }}" />

        {#
        <p>Create an OAuth 2.0 application and enable associated providers in the
            {% if provider.providerSource.consoleUrl is defined %}
                <a target="_blank" href="{{provider.providerSource.consoleUrl}}">{{providerClass}} API management Console</a>.
            {% else %}
                 API management Console.
            {% endif %}
        </p>
        #}

        <p>Once created, configure the application with the following settings. You might not need to use all of them.</p>

        <ul>
            <li>Authorized Redirect URI : {{craft.oauth.callbackUrl(providerClass)}}</li>
            <li>Authorized JavaScript Origins : {{siteUrl}}</li>
        </ul>


        {{ forms.textField({
            label: 'Client Id'|t,
            required: true,
            name: 'provider[clientId]',
            value: provider ? provider.clientId : null,
            errors: provider ? provider.errors('clientId') : null
        }) }}

        {{ forms.textField({
            label: 'Client Secret'|t,
            required: true,
            name: 'provider[clientSecret]',
            value: provider ? provider.clientSecret : null,
            errors: provider ? provider.errors('clientSecret') : null
        }) }}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endset %}