{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set centered = true %}

{% set title = "OAuth"|t %}


{% set content %}
    <h2>Providers</h2>

    <table id="fields" class="data collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Name"|t }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for provider in craft.oauth.getProviders() %}


                {% set providerRecord = craft.oauth.getServiceByProviderClass(provider) %}

                <tr>
                    <td>{{provider}}</td>

                    <td class="nowrap">



                        {% if providerRecord.clientId is not null and providerRecord.clientSecret is not null %}
                            {% if providerRecord.enabled %}
                                <span class="status on"></span> Enabled&nbsp;
                                <a class="btn small" href="{{ actionUrl('oauth/settings/disable', {providerId:providerRecord.id}) }}">Disable</a>
                            {% else %}
                                <span class="status off"></span> Disabled&nbsp;
                                <a class="btn small" href="{{ actionUrl('oauth/settings/enable', {providerId:providerRecord.id}) }}">Enable</a>
                            {% endif %}
                        {% else %}
                            <span class="status"></span><span class="light">Not configured</span>
                            <a class="btn small disabled" href="{{ actionUrl('oauth/settings/enable', {provider:provider}) }}">Enable</a>
                        {% endif %}
                    </td>

                    <td class="thin nowrap"><a class="btn small" href="{{ url('oauth/settings/'~provider) }}">Settings</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Tokens</h2>

    <table class="data collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "User"|t }}</th>
                <th scope="col">{{ "Namespace"|t }}</th>
                <th scope="col">{{ "Provider"|t }}</th>
                <!-- <th scope="col">{{ "Scope"|t }}</th> -->
                <th scope="col">{{ "Created"|t }}</th>
                <th scope="col">{{ "Updated"|t }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set tokens = craft.oauth.getTokens() %}
            {% for token in tokens %}
                <tr>
                    <td>{{token.user.email}}</td>
                    <td>{{token.namespace}}</td>
                    <td>{{token.provider}}</td>
                    <!-- <td>{{token.token}}</td> -->
                    <!-- <td>{{inspect(token.scope)}}</td> -->
                    <td>{{token.dateCreated}}</td>
                    <td>{{token.dateUpdated}}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>


<!--

# app 1
facebook connect
twitter connect
- token is user specific

# app 2
videos plugin multiple account
- one client id for each service
- connection for each service with specific scope
- token is system wide

# app 3
analytics plugin single account
- one client id
- one connection with one scope
- token is system wide

videos, Google:scope:youtube, Vimeo:scope:read/write
videos, system, token
videos, user, {userId}, {provider}, token

-->

{% endset %}
