{% extends "oauth/_layout" %}
{% set selectedTab = 'providers' %}

{% set content %}

    <table id="fields" class="data collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Provider"|t }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for provider in craft.oauth.getProviders() %}


                {% set providerRecord = craft.oauth.getProvider(provider) %}

                <tr>
                    <td><a href="{{ url('oauth/settings/'~provider) }}">{{provider}}</a></td>
                    
                    <td class="nowrap">

                        {% if providerRecord.clientId is not null and providerRecord.clientSecret is not null %}
                            {% if providerRecord.enabled %}
                                <span class="status on"></span> Configured

                                {#
                                &nbsp;
                                <a class="btn small" href="{{ actionUrl('oauth/settings/disable', {providerId:providerRecord.id}) }}">Disable</a>
                                #}
                            {% else %}
                                <span class="status off"></span> Disabled
                                {#
                                &nbsp;
                                <a class="btn small" href="{{ actionUrl('oauth/settings/enable', {providerId:providerRecord.id}) }}">Enable</a>
                                #}
                            {% endif %}
                        {% else %}
                            <span class="status"></span><span class="light">Not configured</span>
                            {#
                            <a class="btn small disabled" href="{{ actionUrl('oauth/settings/enable', {provider:provider}) }}">Enable</a>
                            #}
                        {% endif %}
                    </td>

                    <td><a class="btn small" href="{{ url('oauth/settings/'~provider) }}">API Settings</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endset %}
