{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = provider.name~" Console"|t %}

{% set crumbs = [
    { label: "OAuth"|t, url: url('oauth') },
    { label: "Console"|t, url: url('oauth/console') }
] %}

{% set content %}

    {% if provider.isConfigured %}

        {% if token %}

            {% set void = provider.setToken(token) %}
            {% set account = provider.getAccount() %}

            <h2 class="first">{{'Connected'|t}}</h2>
            <p>{{'You are authenticated to {provider} with the following account'|t({provider:provider.name})}} :</p>


            <pre>{{ dump(account) }}</pre>

            <p><a class="btn small" href="{{ actionUrl('oauth/console/disconnect', {provider:provider.handle}) }}">{{'Disconnect'|t}}</a></p>

        {% else %}

            <h2 class="first">{{'Not connected'|t}}</h2>
            <p>{{'Test that the connection with this provider can be made.'|t}}</p>
            <p><a class="btn submit" href="{{ actionUrl('oauth/console/connect', {provider:provider.handle}) }}">{{"Connect"|t}}</a></p>

        {% endif %}
    {% else %}
        {{ "Not configured"|t }}
    {% endif %}


{% endset %}
