{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "OAuth"|t, url: url('oauth') }
] %}

{% set title = "Console"|t %}

{% set content %}

{% import "_includes/forms" as forms %}

{% includeCssResource 'oauth/css/disableSave.css' %}

<table id="fields" class="data fullwidth collapsible">
    <thead>
        <tr>
            <th scope="col">{{ "Test Name"|t }}</th>
            <th scope="col">{{ "Status"|t }}</th>
            <th scope="col">{{ "OAuth Provider"|t }}</th>
            <td class="thin"></td>
        </tr>
    </thead>

    <tbody>
        {% for provider in providers %}

            {% set hasToken = false %}

            {% if tokens[provider.handle] is defined %}
                {% set hasToken = true %}
            {% endif %}

            <tr>
                <td><a href="{{ url('oauth/console/'~provider.handle) }}">{{provider.name}}</a></td>

                <td>
                    {% if tokens[provider.handle] is defined %}
                        <span class="status on"></span> {{ "Connected"|t }}
                    {% else %}
                        <span class="status"></span><span class="light">{{ "Not connected"|t }}</span>
                    {% endif %}
                </td>

                <td class="nowrap">
                    {% if provider.isConfigured %}
                        <span class="status on"></span> {{ "Configured"|t }}
                    {% else %}
                        <span class="status"></span><span class="light">{{ "Not Configured"|t }}</span>
                    {% endif %}
                </td>

                <td>
                    {% if hasToken %}
                        <p><a class="btn small" href="{{ actionUrl('oauth/console/disconnect', {provider:provider.handle}) }}">{{'Disconnect'|t}}</a></p>
                    {% else %}
                        <p><a class="btn small disabled">{{'Disconnect'|t}}</a></p>
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% endset %}
